<a href="https://colab.research.google.com/github/sarahmohd7dec/Python/blob/main/Conditions_%26_Loops_Exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Conditions & Loops Exercises

In [ ]:
#Q1 Given two integer numbers.
#If any of the numbers are greater than 50 return their product,
#else return their sum
number1= 20
number2= 50
if number1>50 or number2>50:
  print("The product is",number1*number2)
else:
  print("The sum is",number1+number2)

The sum is 70

In [ ]:
#Q2 Given a list of numbers,
#return True if first and last number of a list is same
list=[1,2,5,4,1]
if list[0]==list[-1]:
  print(True)

True

In [ ]:
#Q3 Given a range of the first 10 numbers[1:10],
#Iterate from the start number to the end number,
#and In each iteration print the sum of the current number and previous number
for i in range(1,10):
  print(i+(i-1))

1
3
5
7
9
11
13
15
17

In [ ]:
#Q4 Given a string name,
#display only those characters which are present at an even index number
name="NPowerCanada"
for n in name:
  if(name.index(n)%2==0):
    print(n)

N
o
e
C
n
d

In [ ]:
from typing_extensions import NewType
#Q5 Given a string oldString and an integer number n,
#remove characters from a string starting from zero up to n
#and return a newString
oldString="PythonCourse"
n=6
res=""
for i in range(0, len(oldString)):
    if i >= n:
        res = res +oldString[i]

# Printing resultant string
print("Resultant String:", res)

#oldString[6:]

Resultant String: Course

In [ ]:
#Q6 Print the follwoing pattern

#*
#**
#***
#****

for y in range(0,5):
    print("*"*y)

*
**
***
****

In [ ]:
#Q7 Reverse the following list using for loop
list1=[90,70,50,60]
list1[::-1]

[60, 50, 70, 90]

In [ ]:
#Q8 Display numbers from -10 to -1 using for loop
#[hint use range method]
for x in range(-10,-1):
  print(x)

-10
-9
-8
-7
-6
-5
-4
-3
-2