In [2]:
import pandas as pd
#feature Scaling-range is from 0 to 1
df = pd.DataFrame({'Height':[6,3,4,6.2,8],
                     
                   'Weight':[75,40,56,200,58]})
  
display(df)
df['Weight']=df['Weight']/df['Weight'].max()
df

   Height  Weight
0     6.0      75
1     3.0      40
2     4.0      56
3     6.2     200
4     8.0      58

   Height  Weight
0     6.0   0.375
1     3.0   0.200
2     4.0   0.280
3     6.2   1.000
4     8.0   0.290

In [3]:
#Z-score range is from -3 to +3
df = pd.DataFrame({'Height':[6,3,4,6.2,8],
                     
                   'Weight':[75,40,56,200,58]})
  
display(df)
df['Weight']=(df['Weight']-df['Weight'].mean())/(df['Weight'].std())
df

   Height  Weight
0     6.0      75
1     3.0      40
2     4.0      56
3     6.2     200
4     8.0      58

   Height    Weight
0     6.0 -0.166071
1     3.0 -0.704265
2     4.0 -0.458234
3     6.2  1.756050
4     8.0 -0.427480

In [4]:
#Min-Max:range is from 0 to 1
df = pd.DataFrame({'Height':[6,3,4,6.2,8],
                     
                   'Weight':[75,40,56,200,58]})
  
display(df)
df["Weight"]=(df["Weight"]-df["Weight"].min())/(df["Weight"].max()-df["Weight"].min())
df

   Height  Weight
0     6.0      75
1     3.0      40
2     4.0      56
3     6.2     200
4     8.0      58

   Height   Weight
0     6.0  0.21875
1     3.0  0.00000
2     4.0  0.10000
3     6.2  1.00000
4     8.0  0.11250