In [12]:
!pip install pandas
import pandas as pd
d= {'Mouse':[150,200,300,400],
   'Keyboard':[180,200,190,300],
   'Scanner':[200,280,330,450]}
df=pd.DataFrame(d, index=['Jan','Feb','March','April'])

Requirement already satisfied: pandas in c:\users\silveroak\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\silveroak\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\silveroak\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\silveroak\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\silveroak\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [13]:
df

       Mouse  Keyboard  Scanner
Jan      150       180      200
Feb      200       200      280
March    300       190      330
April    400       300      450

In [15]:
#Write code to access data of Mouse and Scanner columns
df.loc[:,['Mouse','Scanner']]

       Mouse  Scanner
Jan      150      200
Feb      200      280
March    300      330
April    400      450

In [16]:
#Write code to access data of the Keyboard column using dot notation and column name
df.Keyboard

Jan      180
Feb      200
March    190
April    300
Name: Keyboard, dtype: int64

In [17]:
#Write code to access data of scanners using loc[
df.loc[:,'Scanner']

Jan      200
Feb      280
March    330
April    450
Name: Scanner, dtype: int64

In [19]:
#Write code to access data of all columns where mouse data ismore than 200.
df.loc[df['Mouse']>200,df.all()]

       Mouse  Keyboard  Scanner
March    300       190      330
April    400       300      450

In [20]:
#Write code to access columns using 0 and 2
df.iloc[0,2]

200

In [22]:
 #Write code to access data of rows of jan and march for scannerand keyboard
df.iloc[[0,2],[1,2]]

       Keyboard  Scanner
Jan         180      200
March       190      330